{% extends "layouts/main.html" %} 

{% block pageTitle %} 
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit 
{% endblock %} 

{% block beforeContent %} 
{{ govukBackLink({ 
  text: "Back", 
  href: "javascript:window.history.back()" 
}) }} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">  <div class="govuk-grid-column-full">    
  <h1 class="govuk-heading-l">  National Insurance number applications</h1>

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="queue-type-answer" method="post">

 <P> Select the type of application</P>

{% from "govuk/components/radios/macro.njk" import govukRadios %} 
{{ govukRadios({ 
  name: "what-queue", 
  value: data[`what-queue`], 
  fieldset: { 
    legend: { 
    classes: "govuk-fieldset__legend--m" } },
       hint: {
    text: "" },
    items: [ 
    { 
      value: "work", 
      text: "Work" 
    }, 

    { 
      value: "benefits", 
      text: "Benefits" 
    }, 
    { 
      value: "student-loan", 
      text: "Student loan" 
    }, 
    { 
      value: "emergency", 
      text: "Emergency" 
    },
    { 
      value: "validation", 
      text: "Validation" 
    }, 
     
    { 
      divider: "or" 
    },
     
    {
      value: "home-office", 
      text: "Home Office case" 
    } 
    
    ] }) }} 
     
    
   {{ govukButton({ 
    text: "Next" }) }}
<p>
    <a href="www.google.com">Search for an application</a> 
  </p>


{% endblock %}
